language: go
go:
 - "1.12.x"

git:
  depth: 1

branches:
  only:
    - master

notifications:
  slack: tek-oso-internal:tBStikUyvah8EOPb8QY7VWvS

before_install:
 - go get -u github.com/raviqqe/liche

script:
 - liche -v -t 60 -r .
