---
name: tek-repo-lint
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  check-for-file:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        filename:
          - .github/CODEOWNERS
          - README.@(md|rst)
          - LICENSE.@(md|rst)
          - .github/ISSUE_TEMPLATE/bug_report.yml
          - .github/ISSUE_TEMPLATE/feature_request.yml
          - .github/PULL_REQUEST_TEMPLATE.md
          - .github/dependabot.yml
          - .github/workflows/codeql.yml
    steps:
      - uses: actions/checkout@v4
      - name: Ensure ${{ matrix.filename }} exists
        uses: andstor/file-existence-action@v3
        with:
          files: ${{ matrix.filename }}
          ignore_case: false
          follow_symbolic_links: false
          fail: true  # Set the step to fail if the file doesn't exist
  # Check that all jobs passed
  check-repo-lint-passed:
    if: ${{ !cancelled() }}
    needs: [check-for-file]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
